.browse {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 74px;
  background-color: #f7f9fa;
  padding: 1rem 1.25rem;
}
.browse .browse-input {
  position: relative;
  flex: auto;
}
.browse .browse-input i {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  color: #949ba5;
}
.browse .browse-input input {
  padding-left: 2rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}
.browse .browse-actions {
  flex: 0 0 auto;
}
.browse .browse-actions span {
  margin-right: .714rem;
  font-weight: 700;
  display: inline-block;
}

.filter-check {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.filter-check .item {
  display: block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.filter-check .item input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.filter-check .item label {
  position: relative;
  cursor: pointer;
  font-size: 0.857rem;
  border-radius: 1rem;
  color: #0070E0;
  font-weight: 600;
  padding: 0.25rem 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
  border: 1px solid #0070E0;
  transition: all .1s ease-in-out;
}
.filter-check .item input:checked + label {
  background-color: #0070E0;
  color: #fff;
}

.platforms {
  position: relative;
  width: 100%;
  margin-top: 0.5rem;
}
.platforms > .row {
  margin-left: -0.536rem;
  margin-right: -0.536rem;
}
.platforms > .row > div {
  padding-left: 0.536rem;
  padding-right: 0.536rem;
}
.platforms .item {
  display: block;
  background-color: #ffffff;
  text-align: center;
  padding: 2rem 1.5rem;
  border-radius: 0.286rem;
  margin-bottom: 1.071rem;
  border: 1px solid #E6E8EB;
  transition: all .3s ease-in-out;
}
.platforms .item:hover {
  border-color: #0070E0;
  background-color: #f3f9ff;
}
.platforms .item img {
  display: block;
  height: 48px;
  margin: 0 auto;
}
.platforms .item p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;
  color: #3d464c;
  min-height: 40px;
  line-height: 1.4;
  margin-top: 0.5rem;
}

.audience-lists {
  position: relative;
  width: 100%;
  margin-bottom: 64px;
}
.audience-lists .audience-item {
  position: relative;
  display: block;
}
.audience-lists .audience-item .selecting {
  display: flex;
  flex-wrap: wrap;
}
.audience-lists .audience-item .selecting .select2 {
  flex: 0;
  margin-right: 1rem;
}
.audience-lists .audience-item .selecting .select2-container {
	width: 100% !important;
}
.audience-lists .audience-item .selecting .select2-container .select2-selection--single {
	border: 1px solid #c6c9d6;
	text-align: left;
	padding-left: 5px;
	height: 40px;
	border-radius: 4px;
	padding-top: 5px;
}
.audience-lists .audience-item .selecting .select2-container .select2-selection--single .select2-selection__arrow {
	top: 7px;
	right: 7px;
}
.audience-lists .audience-item .inner-line {
  position: relative;
  display: block;
  margin: 0 0 1rem;
}
.audience-lists .audience-item:last-child .inner-line {
 display: none;
}
.audience-lists .audience-item .inner-line::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: .5px;
  background-color: #E6E8EB;
}
.audience-lists .audience-item .inner-line select {
  position: relative;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  background-color: #E6E8EB;
  border-color: #dad8d8;
  outline: none;
  box-shadow: none;
}
.audience-lists .audience-item .remove-data {
  position: absolute;
  right: 0;
  top: 7px;
  font-size: 18px;
}
.audience-lists .outer-line {
  position: relative;
  display: block;
  padding: 1.5rem 0;
}
.audience-lists .outer-line::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  width: calc(100% - 40px);
  height: 0.5px;
  background-color: #E6E8EB;
}
.audience-lists .outer-line::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  width: 0.5px;
  height: 100%;
  background-color: #E6E8EB;
}
.audience-lists .outer-line select {
  position: relative;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  background-color: #E6E8EB;
  border-color: #dad8d8;
  outline: none;
  box-shadow: none;
  margin-left: 20px;
}

.page-nav-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  width: calc(100% - 240px);
  min-height: 64px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 40px;
  border-top: 1px solid #e4e4e4;
}
.page-sidebar-collapsed .page-nav-bottom {
  width: calc(100% - 60px);
}
.page-nav-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.page-nav-bottom ul li {
  display: block;
  margin-right: 1.5rem;
}
.page-nav-bottom ul li a {
  display: flex;
  color: #2b2b2b;
  align-items: center;
}
.page-nav-bottom ul li a:hover {
  color: #0070E0;
}
.page-nav-bottom ul li i {
  color: #0070E0;
  font-size: 12px;
  margin-right: 0.5rem;
}
.page-nav-bottom .nav-right {
  display: flex;
  align-items: center;
}
.page-nav-bottom .nav-right p {
  margin-right: 1rem;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #637282;
}
.page-nav-bottom .nav-right p span {
  display: block;
  color: #0070E0;
  font-size: 16px;
}
.page-nav-bottom .nav-right .btn span {
  display: block;
}
.page-nav-bottom .nav-right .btn i {
  display: none;
}

.audience-info {
  display: flex;
  flex-wrap: wrap;
}
.audience-info p {
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 1rem;
  margin-bottom: 0;
  line-height: 1.2;
}
.audience-info p span {
  display: block;
  font-weight: 700;
  font-size: 140%;
  margin-top: .25rem;
}

#audienceMap {
  position: relative;
  z-index: 1;
  height: 500px;
}

.audience-progress {
  position: relative;
  max-height: 228px;
  overflow: auto;
  padding-right: 0.5rem;
}
.audience-progress .item-progress {
  margin-bottom: 1rem;
  display: block;
}
.audience-progress .item-progress p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  line-height: 1;
}
.audience-progress .item-progress p b {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  color: #767676;
}
.audience-progress .item-progress p span {
  color: #0070E0;
  font-weight: 700;
}
.audience-progress .item-progress .progress {
  margin-bottom: 0;
}

.custom-widget {
  position: relative;
  width: 100%;
  min-height: 290.5px;
  margin-bottom: 30px;
}
.custom-widget h4 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.custom-widget h4 .beta {
  display: inline-block;
  font-size: 70%;
  padding: 0.25rem 0.5rem;
  background-color: #ececec;
  margin-left: 0.5rem;
  color: #9a9a9a;
  border-radius: 4px;
}

/*! Page Title Override */
.page-title-custom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 46px;
}
.page-title-custom h3 > i {
  font-size: 70%;
}
.page-title-custom h3 > span {
  display: block;
  font-size: 60%;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: .25rem;
  letter-spacing: 1px;
}

/*! Checkbox DataTable Override */
table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before {
  content: " ";
  margin-top: auto;
  margin-left: 0;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
}
table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50%;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
table.dataTable tr.selected td.select-checkbox:before,
table.dataTable tr.selected th.select-checkbox:before {
  border-color: #0070E0;
  background-color: #0070E0;
}
table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  font-size: 10px;
  line-height: 15px;
  color: #fff;
  margin-top: auto;
  margin-left: 0;
  text-align: center;
  text-shadow: none;
}

table.dataTable.display tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected .sorting_1 {
  background-color: #e5f2ff !important;
}
table.dataTable.display tbody tr.even.selected,
table.dataTable.display tbody tr.even.selected .sorting_1 {
  background-color: #d6ebff !important;
}

/*! Panels Override */
.panel-custom {
  padding: 0;
  border: 1px solid #f5f5f5;
  border-radius: 0;
  box-shadow: 0 10px 10px #00000008;
}

.custom-panel-heading {
  position: relative;
  background-color: #f7f9fa !important;
}
.custom-panel-heading .panel-toggle {
  display: block;
}
.custom-panel-heading .panel-toggle i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 42px;
  margin: auto;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 12px;
  color: #979797;
  transform: rotate(0deg);
  transform-origin: center center;
}
.custom-panel-heading .panel-toggle.collapsed i {
  transform: rotate(180deg) !important;
}
.custom-panel-heading .remove-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: 12px;
  color: #979797 !important;
}

.panel-action {
  margin-top: 1rem;
  text-align: right;
}

/*! Tables Override */
.custom-table table {
  border-bottom: none !important;
}
.custom-table table > tbody > tr > td {
  padding: 16px 16px 16px 8px !important;
}
.custom-table .tbl-status {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  display: inline-flex;
  font-weight: 700;
}
.custom-table .tbl-status.bg-primary {
  background-color: #80bfff;
}
.custom-table .tbl-status.bg-warning {
  background-color: #eed65d;
}
.custom-table .tbl-status i {
  font-size: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  text-align: center;
  margin-left: 0.5rem;
}
.custom-table .tbl-status.bg-primary i {
  background-color: #0070E0;
}
.custom-table .tbl-status.bg-warning i {
  background-color: #F1C205;
}
.custom-table .tbl-actions {
  text-align: center;
}
.custom-table .tbl-actions a {
  display: inline-block;
  margin: 0 .25rem;
}

/*! Modal Override */
.custom-modal-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.custom-modal-actions .form-check {
  display: flex;
}
.custom-modal-actions .form-check {
  display: flex;
}
.custom-modal-actions .form-check .checker {
  margin-right: 8px;
}
.custom-modal-actions .form-check label {
  margin: 0;
}

/*! Buttons Override */
.btn.btn-sm {
  min-width: auto !important;
  padding: 6px 15px !important;
  font-size: 14px !important;
}
.btn.btn-sm .fa {
  margin-right: 4px !important;
}

/*! Responsive Media Queries */
@media (min-width: 992px) {
  .custom-table table {
    width: 100% !important;
  }

  .dataTables_scrollHeadInner {
    width: 100% !important;
  }
}

@media (max-width: 991.98px) {
  .page-nav-bottom {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575.98px) {
  .page-title-custom .breadcrumb-header {
    margin-bottom: 2rem;
  }
  .page-title-custom .btn.btn-default-2 {
    padding: 8px 12px !important;
    font-size: 12px !important;
  }

  .browse .browse-actions span {
    font-size: 12px;
    margin-top: 1rem;
  }
  .browse .btn.btn-default-2 {
    padding: 8px 12px !important;
    font-size: 12px !important;
  }
  .browse .btn+.btn {
    margin-left: 4px !important;
  }

  .audience-info p {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .page-nav-bottom ul li {
    margin-right: .5rem;
  }
  .page-nav-bottom ul li a span {
    display: none;
  }
  .page-nav-bottom .nav-right .btn {
    padding: 8px 10px !important;
    min-width: auto;
  }
  .page-nav-bottom .nav-right .btn span {
    display: none;
  }
  .page-nav-bottom .nav-right .btn i {
    display: block;
  }
}
